<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="resources/static/styles.css">   
</head>
<body>
    <form name="credentials" action="" method="post">
        <label for="login"><b>Username</b></label>
        <input id="login" type="text" placeholder="Enter Username" name="login" required>

        <label for="password"><b>Password</b></label>
        <input id="password" type="password" placeholder="Enter Password" name="password" required>
    </form>


<button onclick="sendCredentials(document.getElementById('login').value, document.getElementById('password').value)">
        Send
    </button>

    <script>
        function sendCredentials(login, password) {
            var url = "http://localhost:8080/scavenger/authProcess";
            requestBuilder = new XMLHttpRequest();
            requestBuilder.open("POST", url);
            requestBuilder.setRequestHeader("Accept", "application/json");
            requestBuilder.setRequestHeader("Content-Type", "application/json");
            let json = JSON.stringify({
                login: login,
                password: password
            });
            requestBuilder.send(json);
        }
    </script>
</body>
</html>